/*Grid Template Areas*/
/*.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 40px auto 40px;
    grid-gap: 3px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}*/

/*.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 5px;
}*/


/*Named Lists*/
/*.container {
    height: 100%;
    display: grid;
    grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];
    grid-template-rows: [main-start] 40px [content-start] auto [content-end] 40px [main-end];
    grid-gap: 3px;
}

.header {
    grid-column: main;
}

.menu {

}

.content {
    grid-area: content;
}

.footer {
    grid-column: main;
}*/

/*Justify-Content & Align-Content*/
/*Justify-Items & Align-Items*/
/*.container {
    border: 1px solid black;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: center;
    align-content: center;
    /*justify-items: stretch;
    align-items: stretch;
    grid-gap: 5px;
}*/

/*Auto-fit & Auto-fill*/
.container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100px, 100px;
    grid-gap: 5px;
}

.container2 {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: 100px, 100px;
    grid-gap: 5px;
}